NET "wr_en_i" LOC = U8;
NET "rd_en_i" LOC = V8;
NET "rst_i" LOC = AJ6;
NET "rd_clk_i" LOC = AH15; # 100 MHz
NET "wr_clk_i" LOC = AH17; # 33 MHz

NET "full_o" LOC = F6;
NET "empty_o" LOC = T10;

NET "din_i[0]" LOC = U25;
NET "din_i[1]" LOC = AG27;
NET "din_i[2]" LOC = AF25;
NET "din_i[3]" LOC = AF26;
NET "din_i[4]" LOC = AE27;
NET "din_i[5]" LOC = AE26;
NET "din_i[6]" LOC = AC25;
NET "din_i[7]" LOC = AC24;

NET "dout_o[0]" LOC = H18;
NET "dout_o[1]" LOC = L18;
NET "dout_o[2]" LOC = G15;
NET "dout_o[3]" LOC = AD26;
NET "dout_o[4]" LOC = G16;
NET "dout_o[5]" LOC = AD25;
NET "dout_o[6]" LOC = AD24;
NET "dout_o[7]" LOC = AE24;
