NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[0]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[1]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[2]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[3]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[4]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[5]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[6]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[7]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[0]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[1]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[2]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[3]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[4]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[5]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[6]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[7]" IOSTANDARD = DIFF_SSTL18_II;

NET "switches_i[0]" LOC = U25;
NET "switches_i[1]" LOC = AG27;
NET "switches_i[2]" LOC = AF25;
NET "switches_i[3]" LOC = AF26;
NET "switches_i[4]" LOC = AE27;
NET "switches_i[5]" LOC = AE26;
NET "switches_i[6]" LOC = AC25;
NET "switches_i[7]" LOC = AC24;

NET "buttons_i[0]" LOC = U8;
NET "buttons_i[1]" LOC = V8;
NET "buttons_i[2]" LOC = AK7;
NET "buttons_i[3]" LOC = AJ7;
NET "buttons_i[4]" LOC = AJ6;
