NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[0]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[1]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[2]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[3]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[4]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[5]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[6]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[7]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[0]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[1]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[2]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[3]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[4]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[5]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[6]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[7]" IOSTANDARD = DIFF_SSTL18_II;


Net LEDs_8Bit_GPIO_IO_O_pin[0] LOC = AE24 | IOSTANDARD=LVCMOS18; 
Net LEDs_8Bit_GPIO_IO_O_pin[1] LOC = AD24 | IOSTANDARD=LVCMOS18;  
Net LEDs_8Bit_GPIO_IO_O_pin[2] LOC = AD25 | IOSTANDARD=LVCMOS18; 
Net LEDs_8Bit_GPIO_IO_O_pin[3] LOC = G16 | IOSTANDARD=LVCMOS25; 
Net LEDs_8Bit_GPIO_IO_O_pin[4] LOC = AD26 | IOSTANDARD=LVCMOS18;
Net LEDs_8Bit_GPIO_IO_O_pin[5] LOC = G15 | IOSTANDARD=LVCMOS25; 
Net LEDs_8Bit_GPIO_IO_O_pin[6] LOC = L18 | IOSTANDARD=LVCMOS25; 
Net LEDs_8Bit_GPIO_IO_O_pin[7] LOC = H18 | IOSTANDARD=LVCMOS25; 
Net LEDs_Positions_GPIO_IO_O_pin[0] LOC=E8 | IOSTANDARD=LVCMOS33; 
Net LEDs_Positions_GPIO_IO_O_pin[1] LOC=AF23 | IOSTANDARD=LVCMOS33; 
Net LEDs_Positions_GPIO_IO_O_pin[2] LOC=AG12 | IOSTANDARD=LVCMOS33; 
Net LEDs_Positions_GPIO_IO_O_pin[3] LOC=AG23 | IOSTANDARD=LVCMOS33; 
Net LEDs_Positions_GPIO_IO_O_pin[4] LOC=AF13 | IOSTANDARD=LVCMOS33; 
Net Push_Buttons_5Bit_GPIO_IO_I_pin[0] LOC = AJ6 | IOSTANDARD=LVCMOS33; 
Net Push_Buttons_5Bit_GPIO_IO_I_pin[1] LOC = AJ7 | IOSTANDARD=LVCMOS33; 
Net Push_Buttons_5Bit_GPIO_IO_I_pin[2] LOC = V8 | IOSTANDARD=LVCMOS33; 
Net Push_Buttons_5Bit_GPIO_IO_I_pin[3] LOC = AK7 | IOSTANDARD=LVCMOS33; 
Net Push_Buttons_5Bit_GPIO_IO_I_pin[4] LOC = U8 | IOSTANDARD=LVCMOS33; 