NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[0]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[1]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[2]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[3]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[4]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[5]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[6]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[7]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[0]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[1]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[2]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[3]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[4]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[5]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[6]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[7]" IOSTANDARD = DIFF_SSTL18_II;


Net LEDs_8Bit_GPIO_IO_O_pin[0] LOC = AE24 | IOSTANDARD=LVCMOS18; 
Net LEDs_8Bit_GPIO_IO_O_pin[1] LOC = AD24 | IOSTANDARD=LVCMOS18;  
Net LEDs_8Bit_GPIO_IO_O_pin[2] LOC = AD25 | IOSTANDARD=LVCMOS18; 
Net LEDs_8Bit_GPIO_IO_O_pin[3] LOC = G16 | IOSTANDARD=LVCMOS25; 
Net LEDs_8Bit_GPIO_IO_O_pin[4] LOC = AD26 | IOSTANDARD=LVCMOS18;
Net LEDs_8Bit_GPIO_IO_O_pin[5] LOC = G15 | IOSTANDARD=LVCMOS25; 
Net LEDs_8Bit_GPIO_IO_O_pin[6] LOC = L18 | IOSTANDARD=LVCMOS25; 
Net LEDs_8Bit_GPIO_IO_O_pin[7] LOC = H18 | IOSTANDARD=LVCMOS25; 
Net LEDs_Positions_GPIO_IO_O_pin[0] LOC=E8 | IOSTANDARD=LVCMOS33; # center
Net LEDs_Positions_GPIO_IO_O_pin[1] LOC=AF23 | IOSTANDARD=LVCMOS33; # west
Net LEDs_Positions_GPIO_IO_O_pin[2] LOC=AG12 | IOSTANDARD=LVCMOS33; # south
Net LEDs_Positions_GPIO_IO_O_pin[3] LOC=AG23 | IOSTANDARD=LVCMOS33; # east
Net LEDs_Positions_GPIO_IO_O_pin[4] LOC=AF13 | IOSTANDARD=LVCMOS33; # north
Net Push_Buttons_5Bit_GPIO_IO_I_pin[0] LOC = AJ6 | IOSTANDARD=LVCMOS33; # center
Net Push_Buttons_5Bit_GPIO_IO_I_pin[1] LOC = AJ7 | IOSTANDARD=LVCMOS33; # west
Net Push_Buttons_5Bit_GPIO_IO_I_pin[2] LOC = V8 | IOSTANDARD=LVCMOS33; # south
Net Push_Buttons_5Bit_GPIO_IO_I_pin[3] LOC = AK7 | IOSTANDARD=LVCMOS33; # east
Net Push_Buttons_5Bit_GPIO_IO_I_pin[4] LOC = U8 | IOSTANDARD=LVCMOS33; # north


#NET "switches_i[0]" LOC = U25 | IOSTANDARD=SSTL18_II;
NET "switches_i[1]" LOC = AG27 | IOSTANDARD=SSTL18_II;
NET "switches_i[2]" LOC = AF25 | IOSTANDARD=SSTL18_II;
NET "switches_i[3]" LOC = AF26 | IOSTANDARD=SSTL18_II;
NET "switches_i[4]" LOC = AE27 | IOSTANDARD=SSTL18_II;
NET "switches_i[5]" LOC = AE26 | IOSTANDARD=SSTL18_II;
NET "switches_i[6]" LOC = AC25 | IOSTANDARD=SSTL18_II;
NET "switches_i[7]" LOC = AC24 | IOSTANDARD=SSTL18_II;

NET "cam_clock_i" LOC = AH17 | IOSTANDARD=LVCMOS33; # 33 MHz

NET "fpga_0_clk_1_sys_clk_pin" LOC = AH15 | IOSTANDARD=LVCMOS33;

#camera

#Y0-Y7
NET "cam_Y[0]" LOC = H33;
NET "cam_Y[1]" LOC = F34;
NET "cam_Y[2]" LOC = H34;
NET "cam_Y[3]" LOC = G33;
NET "cam_Y[4]" LOC = G32;
NET "cam_Y[5]" LOC = H32;
NET "cam_Y[6]" LOC = J32;
NET "cam_Y[7]" LOC = J34;
#UV0-UV7
NET "cam_UV[0]" LOC = AK33;
NET "cam_UV[1]" LOC = AJ32;
NET "cam_UV[2]" LOC = AK32;
NET "cam_UV[3]" LOC = AL34;
NET "cam_UV[4]" LOC = AL33;
NET "cam_UV[5]" LOC = AM33;
NET "cam_UV[6]" LOC = AJ34;
NET "cam_UV[7]" LOC = AM32;


#PWDN
NET "cam_pwdn" LOC = L33;
#RST
NET "cam_rst" LOC = M32;
#SDA
NET "cam_sda" LOC = P34;
#FODD
NET "cam_fodd" LOC = N34;
#SCL
NET "cam_scl" LOC = AA34;
#HREF
NET "cam_href" LOC = AD32;
#VSYNC
NET "cam_vsyn" LOC = Y32;
#PCLK
NET "cam_pclk" LOC = AH34;
#EXCLK
NET "cam_exclk" LOC = AE32;
#VTO
NET "cam_vto" LOC = AN33;




