NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[0]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[1]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[2]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[3]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[4]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[5]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[6]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_n_pin[7]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[0]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[1]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[2]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[3]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[4]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[5]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[6]" IOSTANDARD = DIFF_SSTL18_II;
NET "fpga_0_DDR2_SDRAM_DDR2_DQS_pin[7]" IOSTANDARD = DIFF_SSTL18_II;